/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* stylelint-disable */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}

html,
.stylelint {
  line-height: 1
}

body,
.stylelint {
  line-height: inherit
}

ol,
ul,
.stylelint {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */

/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

html {
  font-size: 1.25em; /* 20/16 = 1.25em */
  line-height: 1.1em; /* 22/20 = 1.1em */
  background-image:url(../media/pattern.png);
  background-repeat: repeat;
}

body {
  padding-top: 3.3em; /* 66/20 = 3.3em */
}

main{
  padding-right: 1.65em; /* 33/20 = 1.65em */
  padding-left: 1.65em; /* 33/20 = 1.65em */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 1.1em; /* 22/20 = 1.1em */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: -0.1em; /* -2/20 = -0.1em */
}

h1 {
  font-size: 2.2em; /* 44/20 = 2.2 ee */
  line-height: 1.0em; /* 44/44 = 1.0em */
}

h2 {
  font-size: 1.25em; /* 25/20 = 1.25 em */
  line-height: 1.76em; /* 44/25 = 0.88 em */
}

h3 {
  font-size: 1em; /* 20/20 = 1em */
  line-height: 1.1em; /* 22/20 = 1.1em */
  font-weight: normal;
}

h4 {
  font-size: 0.8em; /* 16/20 = 0.8em */
  line-height: 1.375em; /* 22/16 = 1.375em */
  font-weight: normal;
}

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

ol,
ul {
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

li ol,
li ul {
  padding-left: 1.1em; /* 22/20 = 1.1 */
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
}

li ol {
  list-style-type: lower-alpha;
}

li li ol {
  list-style-type: lower-roman;
}

footer {
  padding: 1.5em; /* 30/20 = 1.5em */
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}

footer p {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  font-size: 12px; /* 12/20 = 0.6em */
  line-height: 1.833em; /* 22/12 = 1.833em */
}


/* Responsive Media */

img,
video,
audio {
  display: block;
  max-width: 100%;
  padding-bottom: 0.55em;
}

/* Layout Styles */

/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
  border: none;
}

#navigation #name {
  font-weight: bold;
}

#navigation ul {
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(#243B55, #141E30);
  background: -o-linear-gradient(#243B55, #141E30);
  background: linear-gradient(#243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navigation li {
  background: #141E30;
  float: left;
  width: 33.33333333%;
}

#navigation a {
  display: block;
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  padding-top: 0.55em; /* 11/20 = 0.55 */
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
}


#name_title {
  text-align: center;
}

#social ul {
  text-align: center;
  list-style-type: none;
  padding: 1.0em; /* 20/20 = 1.0em */
  margin: auto;
}

#social ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#social ul li a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

#software_exp ul,
#tech_skills ul {
  text-align: center;
  padding: 0;
}

#software_exp ul li,
#tech_skills ul li {
  display: block;
  list-style-type: none;
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
}

/* Modular Styles */

/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/


.headshot {
  border-radius: 50%;
  width: 10em; /* 200/20 = 10em */
  margin: auto;
  box-shadow: -0.05em 0.05em 1.0em #888888; /* -1/20 = -0.05em , 1/20 = 0.05em , 20/20 = 1em */
  padding: 0;
}

.socialMediaIcon {
  width: 3.5em; /* 70/20 = 3.5em */
}

.card {
  background-color: #FFFFFF;
  border-radius: 0.05em;
  margin-bottom: 2.2em; /* 44/20 = 2.23m */
  box-shadow: -0.05em 0.05em 0.15em #888888; /* -1/20 = -0.05em , 1/20 = 0.05em , 3/20 = 0.15em */
  padding: 1.65em; /* 33/20 = 1.65em */
}

.card h1{
  font-size: 1.65em; /* 33/20 = 1.65em */
  line-height: 0.3333em; /*11/33 = 0.333em */
}

.card h1, .card h2,.card h3,.card h4,.card h5,.card h6{
  text-align: center;
}
/* State Styles */

/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/


@media screen and (min-width: 600px) {

  #content {
    width: auto;
    margin-top: 1.1em; /* 22/20 = 1.1em */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 2em; /* 40/20 = 2em */
  }

  #primary {
    grid-column: 5/11;
    grid-row: 1;
  }

  #social {
    grid-column:1/5;
    grid-row: 1;
  }
  
  .headshot {
    width: 12.5em; /* 250/20 = 12.5em */
  }
}

@media screen and (min-width: 1280px) {
  main{
    padding-right: 15%;
    padding-left: 15%;
  }
  
}